progress {
    width: 40%;
    display: block; /* default: inline-block */
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    vert-align: middle;
    horiz-align: center;
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: orange;
}

/* webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    progress {
        height: 25px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: orange;
}
